.rake_test_cache

###
# Ignore Chef key files and secrets
###
.chef/*.pem
.chef/encrypted_data_bag_secret
.chef
syntaxcache
#
.kitchen
#
.gitignore
troubles

cookbooks/audit
cookbooks/webserver

to-push-to-teamfound.txt
to-push*.txt
nodes/*.json
cookbooks/tabelle/.kitchen-nude.yml
cookbooks/tabelle/.kitchen-previous.yml
cookbooks/tabelle/TestGeneratorHelper-Wrong.ps1


chef-client*.tar.gz
cookbooks/chef-client

local-mode-cache

cookbooks/bpoint/path_prg
tabelle-0.1.16
tabelle011*
0110tabelle.txt
0116tabelle.txt

savetabelle
